@import './shared.scss';

.sp-app {
	font-family: raleway;
	color: $sp-color;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.sp-app--header {
  padding: 9px;
	color: $sp-darkgreen;
	background-color: $sp-lightgreen;
	border-bottom: 10px solid $sp-shadow-lightgreen;

	display: flex;
	flex-direction: column;
	align-items: center;

	@include phone {
		border-color: #aee2b7;
	}

	font-family: Arimo;
}

.sp-app--info {
  padding: 9px;
	color: $sp-darkgreen;
	background-color: $sp-lightgreen;
	border-top: 10px solid $sp-shadow-lightgreen;

	flex: 1 1 auto;

	@include phone {
		border-color: #aee2b7;
	}
}

.sp-app--get-container {
	position: absolute;
	bottom: 20px;
	right: 20px;

	transform: rotate(-10deg);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
