@import './shared.scss';

.sp-app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.sp-app--header {
  padding: 9px;
	color: $sp-darkgreen;
	background-color: $sp-lightgreen;
	border-bottom: 10px solid $sp-shadow-lightgreen;

	display: flex;
	flex-direction: column;
	align-items: center;

	@include phone {
		border-color: $sp-shadow-darkgreen;
	}

	font-family: Arimo;
}

.sp-app--info {
  padding: 9px;
	color: $sp-darkgreen;
	background-color: $sp-lightgreen;
	border-top: 10px solid $sp-shadow-lightgreen;

	flex: 1 1 auto;

	@include phone {
		border-color: #aee2b7;
	}
}

.sp-app--footer {
  padding: 9px;
	padding-top: 14px;
	color: $sp-darkgreen;
	background-color: $sp-lightgreen;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: Arimo;
	font-size: 14px;
}

.contact-link {
	color: $sp-darkgreen;
	text-decoration: none;
}

.sp-app--get-container {
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sp-app--dev-container {
	margin-top: 14px;

	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dev-list {
	.dev-item {
		margin-top: 5px;
		font-weight: 100;
		text-align: center;
		font-size: 18px;
	}
}
