@import './shared.scss';

.sp-app {
	font-family: raleway;
	color: $sp-color;

	.sp-app--header {
    padding: 9px;
		background-color: $sp-lightgreen;
		color: $sp-darkgreen;
		border-bottom: 5px solid $sp-shadow-lightgreen;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sp-app--get-container {
		position: absolute;
		bottom: 20px;
		right: 20px;

		transform: rotate(-10deg);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
