@import './shared.scss';

.sp-button {
	border: 0;
	box-sizing: content-box;
	color: $sp-color;

	transition: transform 300ms, box-shadow 300ms;
	transform: translateY(0px);

	&:hover {
		// box-shadow: 0 5px $sp-color;
		transform: translateY(-5px);
	}
}
