.sp-app .sp-get-button {
	position: absolute;
	top: 80vh;
	left: 50%;
	transform: translate(-50%, 0);

	&:hover {
		transform: translate(-50%, -5px);
	}
}
.sp-get-button {
	font-size: 3rem;

	.fa:before {
		font-size: 5rem;
	}
}