$sp-color: #586c86; // text color

$sp-yellow: #e2b969; // logo yellow

$sp-lightgreen: #d5ffdc; // light green
$sp-shadow-lightgreen: #e6ffe6;

$sp-darkgreen: #7bca88; // contrast lightgreen
$sp-shadow-darkgreen: #aee2b7;

// -- breakpoints
@mixin phone {
  @media (max-width: 375px) {
    @content;
  }
}
@mixin phone-and-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 376px) and (max-width: 1024px) {
    @content;
  }
}
@mixin tablet-and-desktop {
  @media (min-width: 376px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
