$sp-color: #586c86; // text color

$sp-yellow: #e2b969; // logo yellow

$sp-lightgreen: #cdfdd5; // light green
$sp-shadow-lightgreen: #afe0af;

$sp-darkgreen: #4d6b52; // contrast lightgreen

// -- breakpoints
@mixin phone {
  @media (max-width: 375px) {
    @content;
  }
}
@mixin phone-and-tablet {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tablet-and-desktop {
  @media (min-width: 376px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
