@import './shared.scss';

.sp-splash {
	@include phone {
		height: 300px;
		border: 5px solid white;
		background-color: white;
	}

	@include tablet-and-desktop {
		height: 100vh;
	}

	width: 100vw;
	box-sizing: border-box;

	position: relative;
	overflow: hidden;

	.sp-mask-logo {
		z-index: 3;
	}
	.sp-mask-video {
		z-index: 2;
	}
}

.sp-mask-logo {
	width: 100%;
  height: 100%;
  position: absolute;
}

.sp-mask-video {
	@include tablet-and-desktop {
		mask-image: url('../../media/sp-perspective-transparent-vertical.png');
		mask-repeat: no-repeat;
		mask-position: 50% 50%;
		mask-size: 130vw;
	}

	position: absolute;
	left: 0%;
	top: 35%;
	transform: translateY(-50%);

	width: 100%;;
	height: auto;
	overflow: hidden;
}
