@import './shared.scss';

.sp-splash {
	@include phone {
		height: (100vw / 1.825);
		// border: 5px solid white;
		// background-color: white;
	}

	@include tablet-and-desktop {
		height: (100vw / 1.75);
	}

	// height: (100vw / 1.5);
	// max-height: 500px;

	width: 100vw;
	box-sizing: border-box;

	position: relative;
	overflow: hidden;

	.sp-mask-logo {
		z-index: 3;
	}
	.sp-mask-video {
		z-index: 2;
	}
}

.sp-splash .sp-title {
	@include tablet-and-desktop {
		display: none;
	}

	font-family: Raleway;
	font-size: 45px;
	text-align: center;
	color: white;
	font-weight: bold;
	letter-spacing: 4px;

  text-shadow: 0 1px 1px black;

	z-index: 5;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
}

.sp-mask-logo {
	width: 100%;
  height: 100%;
  position: absolute;
}

.sp-mask-video {
	@include tablet-and-desktop {
		mask-image: url('../../media/sp-perspective-transparent-vertical.png');
		mask-repeat: no-repeat;
		mask-position: 50% 30px;
		mask-size: 130vw;
	}

	position: absolute;
	left: 0%;
	// top: 35%;
	// transform: translateY(-50%);

	width: 100%;;
	height: auto;
	overflow: hidden;
}
