.sp-app .sp-get-button {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translate(-50%, 0); }
  .sp-app .sp-get-button:hover {
    transform: translate(-50%, -5px); }

.sp-get-button {
  font-size: 3rem; }
  .sp-get-button .fa:before {
    font-size: 5rem; }
