.sp-mask-logo {
  width: 100%;
  height: 100%;
  position: absolute; }

.sp-mask-video {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  overflow: hidden;
  mask-image: url("../../media/sp-perspective-transparent-vertical.png");
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 130vw; }
