.sp-splash {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: transparent;
  border: 20px solid #586c86;
  position: relative;
  overflow: hidden; }
  .sp-splash .sp-mask-logo {
    z-index: 3; }
  .sp-splash .sp-mask-video {
    z-index: 2; }

.sp-splash--logo-text {
  color: white;
  text-anchor: middle;
  font-family: "Raleway";
  text-align: center;
  position: absolute;
  z-index: 4;
  /* phone */
  /* tablet */
  /* desktop */ }
  @media screen and (min-width: 0) and (max-width: 760px) {
    .sp-splash--logo-text {
      font-size: 10vw; } }
  @media screen and (min-width: 760px) and (max-width: 1220px) {
    .sp-splash--logo-text {
      font-size: 10vw; } }
  @media screen and (min-width: 1220px) {
    .sp-splash--logo-text {
      font-size: 120px; } }

.sp-splash--logo-text.top {
  left: 0;
  right: 0;
  top: 40px; }

.sp-splash--logo-text.bottom {
  left: 0;
  right: 0;
  bottom: 40px; }
